
<div class="project" *ngIf="project">

  <div class="project__header">

    <shared-breadcrumbs [crumbs]="breadcrumbs"/>

    <div class="project__title header__title">
      <h1>Tablero {{ project.nombre }}</h1>

      <button>
        Crear tarea
      </button>
    </div>

    <div class="project__tools">
      <shared-search-box
          (onDebounce)="searchTask($event)"
          [initialValue]="initialValue"
          placeholder="Buscar tarea">
      </shared-search-box>

      <div class="project__collaborators">

        <div class="collaborators__item admin">
          <img [src]="imgUser" alt="perfil de usuario" title="{{project.usuario.nombre}}">
        </div>

        <div class="collaborators__item img__collaborators"
            *ngFor="let colaboradores of project?.colaboradores?.slice(0, 5)">
          <img [src]="setProfileCollaborator(colaboradores.usuario.foto)"
              alt="perfil de usuario"
              title="{{colaboradores.usuario.nombre}}">
        </div>

        <div class="collaborators__item total__collaborators"
            *ngIf="project?.colaboradores!.length > 5">
          <span>+{{ project.colaboradores.length }}</span>
        </div>

        <div class="collaborators__item add__collaborator">
          <button (click)="viewModalAddCollaborator()" title="Agregar personas">
            <i class="fa-solid fa-user-plus"></i>
          </button>
        </div>

      </div>

    </div>

  </div>

  <div class="project__board">

    <div class="board__container">

      <div *ngFor="let columna of project.columnas">
        <shared-column-card
          [column]="columna"
          [project]="project">
        </shared-column-card>
      </div>

    </div>

    <div *ngIf="modalService.viewNewSharedColumnCard">
      <shared-column-card
      [project]="project">
      </shared-column-card>
    </div>

    <button *ngIf="!modalService.viewNewSharedColumnCard"
            (click)="newColumn()">
      <i class="fa-solid fa-plus"></i>
    </button>

  </div>

</div>

<shared-modal-task-form>

</shared-modal-task-form>

<shared-modal-delete-column
  [project]="project">
</shared-modal-delete-column>
