
.project {
  padding: 0;
}

.project__header {
  padding: 3rem 2rem;
}

.project__tools {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}

shared-search-box {
  width: 100%;
  flex: 1;
}

.search__field {
  width: 100%;
  max-width: 40rem;
  height: 5rem;
}

.search__field input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--dark-secondary-color);
  letter-spacing: .3px;
  padding: 0 2rem;
  transition: all 300ms;
}

.search__field input:hover {
  background-color: rgba(225, 225, 225, .4);
}

.search__field input:focus {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  outline: 1px solid var(--primary-color);
}

::placeholder {
  color: var(--light-secondary-color);
}

.project__collaborators {
  flex: 2;
  display: flex;
  gap: 1rem;
}

.collaborators__item,
.collaborators__item img,
.add__collaborator button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

/* .admin img, */
.img__collaborators img {
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--white);
}

.img__collaborators, .total__collaborators {
  margin-left: -2rem;
}

.total__collaborators,
.add__collaborator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-secondary-color);
}

.total__collaborators span {
  font-size: 1.5rem;
  font-weight: 400;
}

.add__collaborator button {
  border: none;
}

.add__collaborator button {
  font-size: 1.5rem;
  color: var(--dark-secondary-color);
  transition: all .3s;
}

.add__collaborator button:hover {
  cursor: pointer;
  background-color: var(--light-secondary-color);
}

.project__board {
  height: 100%;
  overflow-x: auto;
  display: flex;
  padding: 0 2rem;
  gap: 2rem;
}

.board__container {
  height: max-content;
  position: relative;
  display: flex;
  /* padding: 0 2rem; */
  gap: 2rem;
  padding-bottom: 2rem;
}

.project__board button {
  min-width: 4rem;
  height: 4rem;
  position: sticky;
  top: 0;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  background-color: rgba(225, 225, 225, .4);
  font-size: 2rem;
  color: var(--secondary-color);
  transition: all .3s;
}

.project__board button:hover {
  cursor: pointer;
  background-color: var(--light-secondary-color);
}
