
<section class="modal"
    [class.view--modal]="modalService.modalProjectFormStatus">

  <div class="modal__container">

    <div class="modal__header">

      <h3>Crear Proyecto</h3>

      <button class="modal__close" (click)="hideModal()">
        Cerrar
      </button>

    </div>

    <shared-alert *ngIf="message()"
                [message]="message"
                [statusRes]="statusRes">
    </shared-alert>

    <div class="form modal__form">

      <form autocomplete="off"
            [formGroup]="projectForm"
            (ngSubmit)="addProject()"
            >

            <div class="form__field"
                [ngClass]="{ 'error__field': isValidField('nombre') }">

              <input type="text"
                    placeholder="Nombre"
                    formControlName="nombre">

              <span *ngIf="isValidField('nombre')">
                {{ getFieldError('nombre') }}
              </span>

            </div>

            <div class="form__field"
                [ngClass]="{ 'error__field': isValidField('descripcion') }">

              <textarea cols="30" rows="5"
                        placeholder="Descripción"
                        formControlName="descripcion">
              </textarea>

              <span *ngIf="isValidField('descripcion')">
                {{ getFieldError('descripcion') }}
              </span>

            </div>

            <div class="form__field"
                [ngClass]="{ 'error__field': isValidField('clave') }">

              <input type="text"
                    placeholder="Clave"
                    formControlName="clave">

              <span *ngIf="isValidField('clave')">
                {{ getFieldError('clave') }}
              </span>

            </div>

            <div class="form__submit">

              <input type="submit"
                    value="Crear Proyecto"
                    [disabled]="projectForm.invalid || isLoading">
            </div>

          </form>

    </div>

  </div>

</section>
