
<div class="profile">

  <div class="profile__user">

    <h2>Editar perfil</h2>

    <div class="profile__info">

      <div class="info__img">

        <div class="img__image" [ngClass]="{ 'no-image': !user()?.foto }">

          <img [src]="photo" alt="foto de perfil">

          <div class="img__modal" *ngIf="isTheUserLogged">

            <button (click)="viewModalPhoto()">
              <i class="fa-solid fa-camera" style="color: #ffffff;"></i>
              Cambiar
            </button>

            <button *ngIf="user()?.foto" (click)="viewModalAlert()">
              <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
              Eliminar
            </button>

          </div>

        </div>

        <div class="description" *ngIf="isTheUserLogged">

          <b>Foto de perfil</b>

          <p>Tu foto de perfil es visible para cualquier usuario</p>

        </div>

      </div>

      <div class="info__data">

        <form class="data"
              (ngSubmit)="editProfile()"
              [formGroup]="userForm">

          <p>Informacion personal</p>

          <div class="form__field"
              [ngClass]="{ 'error__field': isValidField('nombre') }">

            <label for="nombre">Nombre usuario:</label>

            <input type="text"
                  id="nombre"
                  placeholder="Nombre"
                  formControlName="nombre"
                  (keyup)="verifyChangesInForm()"
                  [readOnly]="!isTheUserLogged">

            <span *ngIf="isValidField('nombre')">
              {{ getErrorField('nombre') }}
            </span>

          </div>


          <!-- <p>Contacto</p> -->

          <div class="form__field"
              [ngClass]="{ 'error__field': isValidField('email') }">

            <label for="email">Dirección de correo electrónico:</label>

            <input type="email"
                  id="email"
                  placeholder="Email"
                  formControlName="email"
                  (keyup)="verifyChangesInForm()"
                  [readOnly]="!isTheUserLogged">

            <span *ngIf="isValidField('email')">
              {{ getErrorField('email') }}
            </span>

          </div>

          <div class="form__submit">

            <input type="submit"
                  value="Guardar Cambios"
                  [disabled]="userForm.invalid || !hasDataChanged"
                  *ngIf="isTheUserLogged">

          </div>

        </form>

      </div>

    </div>

  </div>

</div>
<!-- 
<shared-toast-notification

[toastNotification]="toastNotification"/> -->

<modal-alert [modalAlert]="modalAlert"/>