
<div class="navbar">

  <div class="title">

    <h1>Administrador de <span>Proyectos</span></h1>

  </div>


  <div class="tools">

    <!-- <div class="tools__notifications">
      <i class="fa-solid fa-bell fa-2xl"></i>
    </div> -->

    <div class="tools__profile">

      <button (click)="viewProfile()">
        <!-- <i class="fa-solid fa-circle-user fa-2xl"></i> -->

        <img [src]="img" alt="">

        <!-- Nombre usuario -->
      </button>

      <div class="profile__options" [class.view__options]="!viewOptionsProfile">

        <div class="profile__account">

          <div class="account__info">

            <!-- <i class="fa-solid fa-circle-user fa-2xl"></i> -->

            <img [src]="img" alt="">
            
            <div class="user__info">

              <b>{{ userName }}</b>
              <p>{{ email }}</p>

            </div>

          </div>

          <hr>

          <button>Perfil</button>

          <hr>

          <button (click)="logout()">Salir</button>

        </div>

      </div>

    </div>

  </div>

</div>