
<section class="modal"
    [class.view--modal]="modalService.modalTaskFormStatus">

    <div class="modal__bg" (click)="hideModal()"></div>

  <div class="modal__container">

    <div class="modal__header">

      <h3>{{ currentTask ? 'Actualizar' : 'Crear' }} Tarea</h3>

      <button class="modal__close"
              (click)="hideModal()">
        Cerrar
      </button>

    </div>

    <div class="form modal__form">

      <form autocomplete="off"
            [formGroup]="taskForm"
            (ngSubmit)="saveTask()">

        <div class="fields__container">

          <div class="form__field">

            <label for="nombre">Nombre</label>

            <input type="text"
                  id="nombre"
                  placeholder="Nombre"
                  formControlName="nombre">

            <span *ngIf="isValidField('nombre')">
              {{ getErrorField('nombre') }}
            </span>

          </div>

          <div class="form__field">

            <label for="descripcion">Descripción</label>

            <textarea cols="30" rows="5"
                      id="descripcion"
                      placeholder="Descripción"
                      formControlName="descripcion">
            </textarea>

            <span *ngIf="isValidField('descripcion')">
              {{ getErrorField('descripcion') }}
            </span>

          </div>

          <div class="form__field">

            <label for="vencimiento">Fecha de vencimiento</label>

            <input type="date"
                  id="vencimiento"
                  placeholder="Vencimiento"
                  formControlName="vencimiento">

            <span *ngIf="isValidField('vencimiento')">
              {{ getErrorField('vencimiento') }}
            </span>

          </div>

          <div class="form__field">

            <label for="columna">Columna</label>

            <select id="columna"
                    formControlName="columna">

              <option value="" [selected]="!currentTask">Seleccione</option>

              <option *ngFor="let columna of project?.columnas"
                      value="{{ columna._id }}"
                      [selected]="currentTask?.columna === columna._id">
                {{ columna.nombre }}
              </option>

            </select>

            <span *ngIf="isValidField('columna')">
              {{ getErrorField('columna') }}
            </span>

          </div>

          <div class="form__field">

            <label for="responsable">Responsable</label>

            <select id="responsable"
                    formControlName="responsable">

              <option value="" [selected]="!currentTask">Seleccione</option>

              <option *ngFor="let colaborador of project?.colaboradores"
                      [value]="colaborador._id"
                      [selected]="currentTask?.responsable?.usuario?.email === colaborador.usuario.email">
                {{ colaborador.usuario.email }}
              </option>

              <span *ngIf="isValidField('responsable')">
                {{ getErrorField('responsable') }}
              </span>

            </select>

          </div>

          <div class="form__field">

            <label for="usuario">Informador</label>

            <select id="usuario"
                    formControlName="usuario">

              <option value="" [selected]="!currentTask">Seleccione</option>

              <ng-container *ngFor="let colaborador of project?.colaboradores">
                <option *ngIf="colaborador.rol === 'Administrador'"
                        [value]="colaborador._id"
                        [selected]="currentTask?.usuario?.usuario?.email === colaborador.usuario.email">
                  {{ colaborador.usuario.email }}
                </option>
              </ng-container>

              <span *ngIf="isValidField('usuario')">
                {{ getErrorField('usuario') }}
              </span>

            </select>

          </div>

        </div>

        <div class="form__submit">

          <input type="submit"
                value="{{ currentTask ? 'Actualizar' : 'Crear' }}"
                [disabled]="taskForm.invalid || isLoading || !isAdmin && !isResponsible">
        </div>

      </form>

    </div>

  </div>

</section>
