.header {
  display: block;
}

.container__confirm-account {
  width: 100%;
  margin: auto;
}

.container__title {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.container__title h1 {
  font-family: 'Oswald';
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--dark-secondary-color);
}

.container__title .user__name {
  color: var(--dark-secondary-color);
  font-family: 'Lato';
  font-size: 2rem;
  letter-spacing: .5px;
}

.container__title .user__message {
  color: var(--secondary-color);
  font-family: 'Lato';
  font-size: 1.5rem;
  letter-spacing: .5px;
}

.container__title a {
  text-decoration: none;
  font-family: 'Lato';
  font-size: 1.5rem;
  color: var(--primary-color);
  letter-spacing: .5px;
}

.container__title a:hover {
  text-decoration: underline;
  color: var(--dark-primary-color);
}

.container__title footer {
  margin-top: 3rem;
}

.container__title footer p {
  color: var(--secondary-color);
  font-family: 'Oswald';
  font-size: 1.3rem;
  letter-spacing: .3px;
}

hr {
  border: .1px solid var(--light-secondary-color);
}

@media(min-width: 600px) {
  .container__confirm-account {
    width: 50%;
  }
}