
<div class="board__column">

  <div class="column__container">

    <div class="column__header">

      <form [formGroup]="columnForm" (ngSubmit)="blurFormField($event)">

        <input type="text"
              value="{{ column?.nombre }}"
              formControlName="nombre"
              (blur)="changeColumnName('nombre')" #nameColumn>

      </form>

      <button (click)="deleteColumn(column!)"
                    *ngIf="project.columnas!.length > 1"
                    title="Eliminar columna">
        <i class="fa-solid fa-trash"></i>
      </button>

    </div>

  </div>

  <div class="board__task">

    <div class="task__container"
        *ngFor="let tarea of column?.tareas"
        (click)="viewModalTaskForm()">

      <div class="task__header">

        <h3 title="{{tarea.nombre}}">{{ tarea.nombre }}</h3>

        <button title="Eliminar {{tarea.nombre}}">
          <i class="fa-solid fa-trash"></i>
        </button>

      </div>

      <div class="task__content">

        <p>{{ tarea.descripcion }}</p>

      </div>

      <hr>

      <div class="task__footer">

        <img [src]="loadPhoto(tarea.responsable.foto)" alt="perfil de usuario" title="Responsable: {{tarea.responsable.nombre}}">

        <div class="task__date" title="Fecha de vencimiento">
          <p>Expira: </p>
          <b>{{ tarea.vencimiento | date:'MMM d' }}</b>
        </div>

      </div>

    </div>

  </div>

</div>
