
<div class="board__column">

  <div class="column__container">

    <div class="column__header">

      <form [formGroup]="columnForm" (ngSubmit)="blurFormField($event)">

        <input type="text"
              value="{{ column?.nombre }}"
              formControlName="nombre"
              (blur)="changeColumnName()">

      </form>

      <button (click)="deleteColumn(column!)"
              *ngIf="project.columnas!.length > 1"
              title="Eliminar columna">
        <i class="fa-solid fa-trash"></i>
      </button>

    </div>

  </div>

  <div class="board__task">

    <ng-container *ngFor="let tarea of project?.tareas">

      <div class="task" *ngIf="tarea.columna === column?._id">

        <div class="task__container"

            (click)="viewModalTaskForm(tarea)">

          <div class="task__header">

            <h3 title="{{tarea.nombre}}">{{ tarea.nombre }}</h3>

          </div>

          <div class="task__content">

            <p>{{ tarea.descripcion }}</p>

          </div>

          <hr>

          <div class="task__footer">

            <img [src]="loadPhoto(tarea.responsable.usuario.foto)" alt="perfil de usuario" title="Responsable: {{tarea.responsable.usuario.nombre}}">

            <div class="task__date" title="Fecha de vencimiento">
              <p>Expira: </p>
              <b>{{ formatDate(tarea.vencimiento) | date:'MMM d' }}</b>
            </div>

          </div>

        </div>

        <button (click)="deleteTask(tarea)"
                title="Eliminar {{tarea.nombre}}">
          <i class="fa-solid fa-trash"></i>
        </button>

      </div>

    </ng-container>

  </div>

</div>

<!-- <shared-modal-alert
  [modalAlert]="modalAlert">
</shared-modal-alert> -->
