
.alert {
  display: none;
}

.error {
  border: 2px solid var(--error-color);
  color: var(--error-color);
  /* color: #E74E47; */
}

.error span,
.error button {
  color: var(--error-color);
}

.success {
  border: 2px solid var(--success-color);
  color: var(--success-color);
  /* color: #069B27; */
}

.success span,
.success button {
  color: var(--success-color);
}

.alert__message {
  width: 100%;
}

.alert__close {
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 2rem;
}

.alert__close:hover {
  cursor: pointer;
}

.hide__alert {
  width: 100%;
  position: relative;
  padding: 1rem;
  height: max-content;
  border-radius: 3px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: traslate .3s forwards;
}