
<div class="navbar">

  <div class="title">

    <h1>ADMINISTRADOR  <span><img src="../../../../assets/img/monitor.png" alt="logo monitor"></span>  DE PROYECTOS</h1>

    <span><img src="../../../../assets/img/monitor.png" alt="logo monitor"></span>

  </div>

  <div class="menu">

    <button (click)="navigateProjects()">
      Proyectos
    </button>

  </div>

  <div class="tools">

    <div class="tools__profile">

      <button (click)="viewProfile()">

        <img [src]="img" alt="">

      </button>

      <div class="profile__options" [class.view__options]="!viewOptionsProfile">

        <div class="profile__account">

          <div class="account__info">

            <img [src]="img" alt="">

            <div class="user__info">

              <b>{{ user()?.nombre }}</b>
              <p>{{ user()?.email }}</p>

            </div>

          </div>

          <hr>

          <!-- <p>Administrador de Proyectos</p> -->

          <button (click)="navigateUserProfile()">Editar perfil</button>

          <button (click)="navigateChangePassword()">Cambiar contraseña</button>

          <hr>

          <button (click)="logout()">Salir</button>

        </div>

      </div>

    </div>

  </div>

</div>