
<div class="navbar">

  <div class="title">

    <h1>Administrador de <span>Proyectos</span></h1>

  </div>


  <div class="tools">

    <div class="tools__profile">

      <button (click)="viewProfile()">

        <img [src]="img" alt="">

      </button>

      <div class="profile__options" [class.view__options]="!viewOptionsProfile">

        <div class="profile__account">

          <div class="account__info">

            <img [src]="img" alt="">

            <div class="user__info">

              <b>{{ user()?.nombre }}</b>
              <p>{{ user()?.email }}</p>

            </div>

          </div>

          <hr>

          <button (click)="navigateUserProfile()">Perfil</button>

          <hr>

          <button (click)="logout()">Salir</button>

        </div>

      </div>

    </div>

  </div>

</div>