 <section class="modal"
      [class.view--modal]="modalService.modalPhotoStatus">

      <div class="modal__bg" (click)="hideModal()">
      </div>

      <div class="modal__container">

        <div class="modal__header">

          <h3>Cambiar foto de perfil</h3>

        </div>

        <shared-alert *ngIf="message()"
                [message]="message"
                [statusRes]="'error'">
        </shared-alert>

        <div class="modal__img">

          <button class="clear__img" (click)="clearImg()">

            <i class="fa-solid fa-xmark fa-lg" style="color: #385965;"></i>

          </button>

          <div class="container__img" (click)="imgInput.click()" [ngClass]="{ 'no-img': !selectdImg }">

            <img [src]="selectdImg || '../../../../assets/img/upload-img.svg'" alt="">

            <p>click para seleccionar imagen</p>

          </div>

          <div class="input__img">

            <input type="file"
                  (change)="loadImg($event)" #imgInput>

          </div>

        </div>

        <div class="modal__actions modal__actions--modal-photo">

          <button class="action__btn action__btn--cancel"
                  [disabled]="isLoading"
                  (click)="hideModal()">
            Cancelar
          </button>

          <button class="action__btn action__btn--load"
                  [disabled]="!selectdImg || isLoading"
                  (click)="uploadImg()">
            Cargar
          </button>

        </div>

      </div>

 </section>