
<div class="projects">

  <div class="projects__header">

    <h2>Proyectos</h2>

    <button (click)="viewModalProjectForm()">
      Crear Proyecto
    </button>

  </div>

  <div class="projects__search">

    <div class="search__field">

      <input type="text" placeholder="Buscar proyecto">

    </div>

  </div>

  <div class="projects__list">

    <table class="list__table" *ngIf="!loadingProjects && projects.length > 0">

      <thead class="table__header">

        <tr>
          <th>Nombre Proyecto</th>
          <th>Llave</th>
          <th>Descripción</th>
          <th>Administrador</th>
          <th></th>
          <th></th>
        </tr>

      </thead>

      <tbody class="table__info">

        <tr class="info__row" *ngFor="let project of projects">

          <td class="info__row--link">
            <a>{{ project.nombre }}</a>
          </td>

          <td>{{ project.clave }}</td>

          <td>{{ project.descripcion | slice:0:20 }}...</td>

          <td class="info__row--link" (click)="navigateUserProfile(project.usuario!._id)">
            <a>{{ project.usuario?.nombre }}</a>
          </td>

          <td class="info__row--actions">
            <div>
              <i class="fa-solid fa-trash fa-lg"></i>
            </div>
          </td>

          <td class="info__row--actions">
            <div>
              <i class="fa-solid fa-gear fa-lg"></i>
            </div>
          </td>
        </tr>

      </tbody>

    </table>

    <div class="list__empty" *ngIf="!loadingProjects && projects.length === 0">

      <img src="../../../../assets/img/404-not-found.jpg" alt="Folder vacío">

      <b>No hay proyectos que mostrar</b>

    </div>

    <loading *ngIf="loadingProjects"></loading>

  </div>

</div>