
<div class="projects">

  <div class="header">

    <h2>Proyectos</h2>

    <button (click)="viewModalProjectForm()">
      Crear Proyecto
    </button>

  </div>

  <div class="search-project">

    <div class="field-project">

      <input type="text" placeholder="Buscar proyecto">

    </div>

  </div>

  <div class="list-projects">

    <table class="table-projects">

      <thead class="table-header">

        <tr>
          <th>Nombre Proyecto</th>
          <th>Llave</th>
          <th>Descripción</th>
          <th>Administrador</th>
          <th></th>
          <th></th>
        </tr>

      </thead>

      <tbody class="table-info">

        <tr class="info" *ngFor="let project of projects">

          <td class="info--link">
            <a>{{ project.nombre }}</a>
          </td>

          <td>{{ project.clave }}</td>

          <td>{{ project.descripcion | slice:0:20 }}...</td>

          <td class="info--link">
            <a>{{ project.usuario }}</a>
          </td>

          <td class="info--actions">
            <div>
              <i class="fa-solid fa-trash fa-lg"></i>
            </div>
          </td>

          <td class="info--actions">
            <div>
              <i class="fa-solid fa-gear fa-lg"></i>
            </div>
          </td>
        </tr>

      </tbody>

    </table>

  </div>


</div>