
<div class="projects">

  <div class="projects__header header__title">

    <h2>Proyectos</h2>

    <button (click)="viewModalProjectForm()">
      Crear Proyecto
    </button>

  </div>

  <div class="projects__search">
    <shared-search-box
          (onDebounce)="searchProject($event)"
          [initialValue]="initialValue"
          placeholder="Buscar proyecto">
      </shared-search-box>

    <!-- <div class="search__field">

      <input type="text"
            placeholder="Buscar proyecto"
            (keyup)="setProjectBySearch(inputProjectName.value)"
            #inputProjectName>

    </div> -->

  </div>

  <div class="table__container projects__table">

    <table class="table__list" *ngIf="!loadingProjects && projects.length > 0">

      <thead class="table__header">

        <tr>
          <th>Nombre Proyecto</th>
          <th>Llave</th>
          <th>Descripción</th>
          <th>Administrador</th>
          <th></th>
          <!-- <th></th> -->
        </tr>

      </thead>

      <tbody class="table__info">

        <tr class="info__row" *ngFor="let project of projects">

          <td class="info__row--link">
            <a routerLink="/dashboard/projects/{{project.nombre}}/board">{{ project.nombre }}</a>
          </td>

          <td>{{ project.clave }}</td>

          <td>{{ project.descripcion }}</td>

          <td class="info__row--link">
            <a routerLink="/dashboard/user/{{project.usuario._id}}">{{ project.usuario.nombre }}</a>
          </td>

          <td class="info__row--actions">
            <button (click)="viewModalAlert(project)">
              <i class="fa-solid fa-trash fa-lg"></i>
            </button>
          </td>

          <!-- <td class="info__row--actions">
            <button>
              <i class="fa-solid fa-gear fa-lg"></i>
            </button>
          </td> -->

        </tr>
      </tbody>

    </table>

    <div class="list__empty" *ngIf="!loadingProjects && projects.length === 0">

      <img src="../../../../assets/img/404-not-found.jpg" alt="Folder vacío">

      <b>No hay proyectos que mostrar</b>

    </div>

    <shared-loading *ngIf="loadingProjects"></shared-loading>

  </div>

</div>

<shared-modal-alert [modalAlert]="modalAlert"/>

