
.projects {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.projects__search {
  width: 100%;
  max-width: 40rem;
  align-self: start;
}
