
<div class="change-password">

  <h1>Cambiar contraseña</h1>

  <form class="change-password__form"
        (ngSubmit)="updatePassword()"
        [formGroup]="changePasswordForm">

    <p>Cambia la contraseña de tu cuenta</p>

    <div class="form__field"
        [ngClass]="{ 'error__field': isValidField('currentPassword') }">

      <label for="current_password">Contraseña actual:</label>

      <div>

        <input type="password"
              id="current_password"
              placeholder="Contraseña actual"
              formControlName="currentPassword">

        <span *ngIf="isValidField('currentPassword')">
          {{ getErrorField('currentPassword') }}
        </span>

      </div>


    </div>

    <div class="form__field"
        [ngClass]="{ 'error__field': isValidField('newPassword') }">

      <label for="new_password">Nueva contraseña:</label>

      <div>

        <input type="password"
              id="new_password"
              placeholder="Nueva contraseña"
              formControlName="newPassword">

        <span *ngIf="isValidField('newPassword')">
          {{ getErrorField('newPassword') }}
        </span>

      </div>


    </div>

    <div class="form__field"
        [ngClass]="{ 'error__field': isValidField('confirmPassword') }">

      <label for="confirm_password">Confirmar contraseña:</label>

      <div>

        <input type="password"
              id="confirm_password"
              placeholder="Confirmar contraseña"
              formControlName="confirmPassword">

        <span *ngIf="isValidField('confirmPassword')">
          {{ getErrorField('confirmPassword') }}
        </span>

      </div>

    </div>

    <div class="form__submit">

      <input type="submit"
            value="Guardar"
            [disabled]="changePasswordForm.invalid || isLoading">

    </div>

  </form>
  <!-- <div class="profile__info">


  </div> -->

</div>
<!--
<shared-toast-notification

[toastNotification]="toastNotification"/> -->

<!-- <modal-alert [modalAlert]="modalAlert"/> -->