
<div class="container">

  <div class="container__form">

      <div>

          <h1>Bienvenido</h1>

          <p>Crea y administra tus proyectos de manera colaborativa</p>

          <form autocomplete="off"
                [formGroup]="loginForm"
                (ngSubmit)="login()">

            <input type="email"
                    placeholder="Email"
                    formControlName="email">

            <input type="password"
                  placeholder="Contraseña"
                  formControlName="password">

            <span><a href="#">Olvidaste tu contraseña?</a></span>

            <input type="submit"
                  value="Iniciar sesión"
                  [disabled]="loginForm.invalid">

          </form>

          <span>Aún no tienes una cuenta? <a href="#">Registrate ahora</a></span>

      </div>

  </div>

  <div class="container__img">

    <img src="../../../../assets/img/login-background.jpg" alt="">

  </div>

</div>
