
<div class="container">

  <div class="container__form">

    <div class="alert error"
        [ngClass]="{ 'view__alert': viewAlert === true }">

      <img class="alert__logo"
            src="../../../../assets/img/error.svg">

      <span class="alert__message">Error: {{ message }}</span>

      <button class="alert__close error"
              (click)="closeAlert()">X
      </button>
      
    </div>

      <div class="form">

          <h1>Bienvenido</h1>

          <p>Crea y administra tus proyectos de manera colaborativa</p>

          <form autocomplete="off"
                [formGroup]="loginForm"
                (ngSubmit)="login()">

                <div class="form__field"
                    [ngClass]="{ 'error': isValidField('email'), 'valid': !isValidField('email')}">
                  <input type="email"
                  placeholder="Email"
                  formControlName="email">

                  <span *ngIf="isValidField('email')">
                    {{ getFieldError('email') }}
                  </span>
                </div>

                <div class="form__field"
                    [ngClass]="{ 'error': isValidField('password'), 'valid': !isValidField('password') }">
                  <input type="password"
                        placeholder="Contraseña"
                        formControlName="password">

                  <span *ngIf="isValidField('password')">
                    {{ getFieldError('password') }}
                  </span>
                </div>

            <span><a routerLink="/auth/confirm-account/:id">Olvidaste tu contraseña?</a></span>

            <div class="form__field">
              <input type="submit"
                    value="Iniciar sesión"
                    [disabled]="loginForm.invalid">
            </div>

          </form>

          <span>Aún no tienes una cuenta? <a routerLink="/auth/register">Registrate ahora</a></span>

      </div>

  </div>

  <div class="container__img">

    <img src="../../../../assets/img/login-background.jpg" alt="">

  </div>

</div>
