
<div class="container">

  <div class="container__form">

    <auth-alert *ngIf="message()"
                [message]="message"
                [statusRes]="statusRes">
    </auth-alert>

      <div class="form">

          <h1>Bienvenido</h1>

          <p>Crea y administra tus proyectos de manera colaborativa</p>

          <form autocomplete="off"
                [formGroup]="loginForm"
                (ngSubmit)="login()">

                <div class="form__field"
                    [ngClass]="{ 'error__field': isValidField('email') }">
                  <input type="email"
                  placeholder="Email"
                  formControlName="email">

                  <span *ngIf="isValidField('email')">
                    {{ getFieldError('email') }}
                  </span>
                </div>

                <div class="form__field"
                    [ngClass]="{ 'error__field': isValidField('password') }">
                  <input type="password"
                        placeholder="Contraseña"
                        formControlName="password">

                  <span *ngIf="isValidField('password')">
                    {{ getFieldError('password') }}
                  </span>
                </div>

            <span><a routerLink="/auth/forget-password">Olvidaste tu contraseña?</a></span>

            <div class="form__field">
              <input type="submit"
                    value="Iniciar sesión"
                    [disabled]="loginForm.invalid">
            </div>

          </form>

          <span>Aún no tienes una cuenta? <a routerLink="/auth/register">Registrate ahora</a></span>

      </div>

  </div>

  <div class="container__img">

    <img src="../../../../assets/img/login-background.jpg" alt="">

  </div>

</div>
