
<div class="alert"
        [ngClass]="{ 'view__alert': message(), 'success': statusRes === 'success', 'error': statusRes === 'error' }">

      <img class="alert__logo"
            [src]="imgAlert">

      <span class="alert__message"
            [ngClass]="{ 'success__msg': statusRes === 'success', 'error__msg': statusRes === 'error' }">{{ message() }}
      </span>

      <button class="alert__close"
              [ngClass]="{ 'success': statusRes === 'success', 'error': statusRes === 'error' }"
              (click)="ngOnDestroy()">X
      </button>

    </div>