

<div class="container">

  <div class="container__img">
      <img src="../../../../assets/img/register-background.jpg" alt="">
  </div>

  <div class="container__form">

    <auth-alert *ngIf="message"
                [message]="message"
                [statusRes]="statusRes">
    </auth-alert>

    <div class="form">

      <h1>Solicitud para cambio de contraseña</h1>

      <p>Olvidaste tu contraseña, introduce el email vinculado a tu cuenta y solicita un cambio de contraseña</p>

      <form autocomplete="off"
            [formGroup]="forgetPasswordForm"
            (ngSubmit)="solicitar()">

        <div class="form__field"
            [ngClass]="{ 'error__field': isValidField('email'), 'valid__field': !isValidField('email')}">
          <input type="email"
                placeholder="Email"
                formControlName="email">

          <span *ngIf="isValidField('email')">
            {{ getErrorField('email') }}
          </span>
        </div>

        <div class="form__field">

          <input type="submit"
                value="Enviar"
                [disabled]="forgetPasswordForm.invalid">
        </div>


      </form>

      <span><a (click)="goBack()">Iniciar Sesión</a></span>

    </div>

  </div>

</div>