
<div class="container">

  <div class="container__form">

      <shared-alert *ngIf="message()"
                  [message]="message"
                  [statusRes]="statusRes">
      </shared-alert>

      <div class="form form--forget-password">

        <h1>Solicitud para cambio de contraseña</h1>

        <p>Olvidaste tu contraseña, introduce el email vinculado a tu cuenta y solicita un cambio de contraseña</p>

        <form autocomplete="off"
              [formGroup]="forgetPasswordForm"
              (ngSubmit)="requestChangePassword()">

          <div class="form__field"
              [ngClass]="{ 'error__field': isValidField('email') }">
            <input type="email"
                  placeholder="Email"
                  formControlName="email">

            <span *ngIf="isValidField('email')">
              {{ getErrorField('email') }}
            </span>
          </div>

          <div class="form__field">

            <input type="submit"
                  value="Enviar"
                  [disabled]="forgetPasswordForm.invalid || isLoading">
          </div>


        </form>

        <span><a routerLink="/auth/login">Regresar</a></span>

      </div>

  </div>
</div>