
.modal__container {
  display: flex;
  flex-direction: column;
}
.modal__container h3 {
  font-family: var(--second-font);
  font-size: 2rem;
  letter-spacing: .3px;
  color: var(--secondary-color);
  margin: 0 0 1rem;
}

.modal__container p {
  padding: 0 0 1rem;
  line-height: 2rem;
}

.modal__container div {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}

.action__btn {
  align-self: flex-end;
  border: none;
  padding: 1rem 2rem;
  width: 10rem;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  letter-spacing: .3px;
  transition: all .3s;
}

.action__btn--cancel {
  color: var(--dark-secondary-color);
  background-color: transparent;
  cursor: pointer;
}

.action__btn--cancel:hover {
  background-color: var(--light-secondary-color);
}

.action__btn--cancel:disabled {
  background-color: var(--light-secondary-color);
  cursor: initial;
}

.action__btn--delete {
  color: var(--white);
  background-color: var(--error-color);
  cursor: pointer;
}

.action__btn--delete:hover {
  background-color: #C81407;
}

.action__btn--delete:disabled {
  background-color: #e6938d;
  cursor: initial;
}