
<section class="modal" [class.view--modal]="modalService.modalAlertStatus">

  <div class="modal__bg" (click)="hideModal()">
  </div>

  <div class="modal__container">

    <div class="modal__header">

      <h3>{{ modalAlert()?.title }}</h3>

    </div>


    <p>{{ modalAlert()?.message }}</p>

    <div class="modal__actions modal__actions--modal-alert">

      <button class="action__btn action__btn--cancel"
              [disabled]="isLoading"
              (click)="hideModal()">
        Cancelar
      </button>

      <button class="action__btn action__btn--delete"
              [disabled]="isLoading"
              (click)="typeAlert()">
        Eliminar
      </button>
    </div>

  </div>

</section>