
<section class="modal"
      [class.view--modal]="modalService.modalAddCollaboratorStatus">

      <div class="modal__bg" (click)="hideModal()">
      </div>

      <div class="modal__container">

        <div class="modal__header">

          <h3>Añadir colaborador a {{ project()?.nombre }}</h3>

          <button class="modal__close" (click)="hideModal()">
            Cerrar
          </button>

        </div>

        <div class="form modal__form">

          <form [formGroup]="collaboratorForm"
                autocomplete="off"
                (ngSubmit)="addCollaborator()">

            <!-- <shared-search-box
              (onDebounce)="searchUser($event)"
              [initialValue]="initialValue"
              (onValue)="initialValue"
              placeholder="Email">

            </shared-search-box> -->

            <div class="form__field">

              <label for="email">Email</label>

              <input type="text"
                    id="email"
                    placeholder="Buscar por email"
                    formControlName="email"
                    (keyup)="onKeyPress('email')">

            </div>

            <div class="result__search"
                *ngIf="users.length !== 0" (clickOutside)="hideResult()">

              <div class="result" *ngFor="let user of users"
                  (click)="userSelected(user)">

                <span>{{ user.email }}</span>

              </div>

            </div>

            <div class="form__field">

              <label for="rol">Rol</label>

              <select name="rol" id="rol" formControlName="rol">

                <option *ngFor="let rol of rols"
                      value="{{ rol }}" [selected]="rol === 'Administrador'">
                  {{ rol }}
                </option>

              </select>

            </div>


            <div class="form__submit">

              <input type="submit"
                    value="Agregar"
                    [disabled]="collaboratorForm.invalid || isLoading">

            </div>

          </form>

        </div>

      </div>

</section>