
  <ul class="notifications" [class.show]="modalService.toastNotificationStatus">

    <li class="toast">

      <i *ngIf="toastNotification?.status === alertStatus.success" class="fa-solid fa-circle-check" style="color: #0ABF30;"></i>

      <i *ngIf="toastNotification?.status === alertStatus.error"  class="fa-solid fa-circle-exclamation" style="color: #e94e42;"></i>

      <div>
        <b>{{ toastNotification?.title }}</b>

        <p *ngIf="toastNotification?.message">
          {{ toastNotification?.message }}
        </p>
      </div>

      <i class="fa-solid fa-xmark" (click)="closeNotification()"></i>

    </li>

  </ul>

