
.dashboard {
  width: 100%;
  height: 100%;
  position: absolute;
}

.dashboard__content {
  width: 100%;
  height: calc(100vh - var(--height-nav-bar));
  position: relative;
  top: var(--height-nav-bar);
}