/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Covered+By+Your+Grace&family=Lato:wght@400;900&family=Nunito:wght@300;700;900&family=Oswald:wght@300;400&family=Playfair+Display:wght@700&family=Raleway:wght@300;700;900&family=Roboto:wght@300;400;700&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Covered+By+Your+Grace&family=Lato:wght@300;400;700&family=Nunito:wght@300;700;900&family=Oswald:wght@300;400&family=Playfair+Display:wght@700&family=Raleway:wght@300;700;900&family=Roboto:wght@300;400;700&family=Staatliches&display=swap');

:root {
    --primary-color: #D368CC;
    --light-primary-color: #EDB5E8;
    --dark-primary-color: #8A60EB;

    --secondary-color: #385965;
    --light-secondary-color: #E1E1E1;
    --dark-secondary-color: #29454E;

    --white: #FFFFFF;

    --error-color: #E94E42;
    --success-color: #0ABF30;

    --background-modal: #385965bd;

    --main-font: 'Oswald';
    --second-font: 'Lato';
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/** Clases Generales **/
h1, h2 {
  margin: 0;
  font-family: var(--main-font);
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .5px;
  color: var(--dark-secondary-color);
}

p {
  font-family: var(--second-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
  letter-spacing: .3px;
}

span {
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .3px;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 300ms;
}

a:hover {
  text-decoration: underline;
  color: var(--dark-primary-color);
  cursor: pointer;
}

.fa-2xl, .fa-xl {
  color: var(--secondary-color);
}

/** Clases generales para visualizar y ocultar de vantanas modales **/
.modal {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  background-color: rgba(56, 89, 101, .6);
  display: flex;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity .3s .6s;
  --transform: translateX(100vw);
  --transition: transform .4s;
}

.modal__container {
  flex: none;
  width: 100%;
  max-width: 40rem;
  border-radius: 3px;
  background-color: white;
  padding: 2rem;
  /* padding-bottom: 0; */
  margin: auto;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__header h3 {
  font-family: var(--second-font);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .3px;
  color: var(--dark-secondary-color);
  margin: 0;
}

.view--modal {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .3s;
  --transform: translateX(0);
  --transition: transform .4s .4s;
}


/** Contenedores y formularios **/
.container {
  width: 100%;
  position: absolute;
}

.container__form {
  flex: 1;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container__img {
  display: none;
}

shared-alert {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form,
.form--reset_password,
.form--forget_password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form form {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

::placeholder {
  color: var(--light-secondary-color)
}

.form__field,
.form__submit {
  width: 100%;
  height: max-content;
}

.form__field input,
.form__submit input,
.form__field textarea {
  width: 100%;
  height: 5rem;
  border-radius: 3px;
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .5px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 1rem 2rem;
}

.form__field textarea {
  resize: none;
  height: 10rem;
}

.form__field input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.9;
  filter: invert(0.9);
}

.form__field input:focus,
textarea:focus {
  border: none;
  outline: 1.5px solid var(--primary-color);
}

.form__submit input {
  border: none;
  outline: none;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  color: white;
  transition: all 500ms;
}

.form__submit input:hover {
  background-color: var(--dark-primary-color);
  cursor: pointer;
}

.form__submit input:active {
  background-color: var(--light-primary-color);
}

.form__submit input:disabled {
  background-color: var(--light-primary-color);
  cursor: initial;
}

.form__field span {
  display: block;
  width: 100%;
  font-family: var(--second-font);
  text-align: start;
  color: #E94E42;
}

.form form > span,
.form > span {
  align-self: end;
  margin-bottom: 1rem;
  transition: all 500ms;
}


/** Pagina confimación de cuenta **/
.container__confirm-account {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.container__title {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.container__title h1 {
  margin: 2.5rem 0;
}

.user__name {
  font-size: 2rem;
}

span a {
  color: var(--primary-color);
}

.container__title footer {
  margin-top: 3rem;
}

.container__title footer p {
  font-family: var(--main-font);
  font-size: 1.3rem;
  letter-spacing: .3px;
  color: var(--secondary-color);
}

hr {
  border: .1px solid var(--light-secondary-color);
}

/** ALertas para campos de formularios invalidos **/
.error__field input[type="text"],
.error__field input[type="email"],
.error__field input[type="password"],
.error__field textarea {
  border: 1px solid var(--error-color)!important;
}

.error__field input[type="text"]:focus,
.error__field input[type="email"]:focus,
.error__field input[type="password"]:focus,
.error__field textarea:focus {
  outline: 1px solid var(--error-color)!important;
}

/** Puntos de quiebre para diferentes dispositivos **/
@media(min-width: 600px) {

  /** Contenedores y formularios **/
    .container__form {
        width: 50%;
        min-width: 40rem;
    }


    /** Pagina Confimacion de Cuenta **/
    .container__confirm-account {
      width: 50%;
    }

}

@media(min-width: 768px) {

  .header {
    display: none;
}

.container__form {
    width: 50%;
    margin: 0;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

}

@media(min-width: 998px) {

  .container {
    height: max-content;
    min-height: 100%;
    flex-direction: row;
  }

    .form,
    .form--reset-password
    .form--forget-password,
    shared-alert {
        width: 40rem;
    }

    .container__img {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container__img img {
        width: 90%;
        object-fit: contain;
    }
}

@media(min-width: 1200px) {

  .container__img img {
    width: 85%;
    object-fit: contain;
}
}

@media(min-width: 1440px) {

    .form,
    .form--reset-password
    .form--forget-password,
    shared-alert {
        width: 45rem;
    }

    .container__img img {
      width: 80%;
      object-fit: contain;
  }
}

.view {
  display: none;
}
