/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Covered+By+Your+Grace&family=Lato:wght@400;900&family=Nunito:wght@300;700;900&family=Oswald:wght@300;400&family=Playfair+Display:wght@700&family=Raleway:wght@300;700;900&family=Roboto:wght@300;400;700&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Covered+By+Your+Grace&family=Lato:wght@300;400;700&family=Nunito:wght@300;700;900&family=Oswald:wght@300;400&family=Playfair+Display:wght@700&family=Raleway:wght@300;700;900&family=Roboto:wght@300;400;700&family=Staatliches&display=swap');

:root {
    --primary-color: #D368CC;
    --light-primary-color: #EDB5E8;
    --dark-primary-color: #8A60EB;

    --secondary-color: #385965;
    --light-secondary-color: #E1E1E1;
    --dark-secondary-color: #29454E;

    --white: #FFFFFF;

    --error-color: #E94E42;
    --success-color: #0ABF30;

    --background-modal: #385965bd;

    --main-font: 'Oswald';
    --second-font: 'Lato';

    --height-nav-bar: 5.5rem;
    --width-side-bar: 25rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/** Clases Generales **/
h1, h2 {
  margin: 0;
  font-family: var(--main-font);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .5px;
  color: var(--dark-secondary-color);
}

p {
  font-family: var(--second-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
  letter-spacing: .3px;
}

span {
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .3px;
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 300ms;
}

a:hover {
  text-decoration: underline;
  color: var(--dark-primary-color);
  cursor: pointer;
}

.fa-2xl, .fa-xl {
  color: var(--secondary-color);
}

/** clase generales para paginas con titulo y boton */
.header__title {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title h1 {
  font-size: 2.5rem;
}

.header__title button {
  height: 4rem;
  padding: 1rem 2.5rem;
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .5px;
  border: none;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: white;
  transition: all 300ms;
}

.header__title button:hover {
  background-color: var(--dark-primary-color);
  cursor: pointer;
}

.header__title button:active {
  background-color: var(--light-primary-color);
  cursor: pointer;
}

/** Clases generales para visualizar y ocultar vantanas modales **/
.modal {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  background-color: rgba(56, 89, 101, .6);
  display: grid;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity .4s .8s;
  --transform: translateX(100vw);
  --transition: transform .4s;
}

.modal__bg {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal__container {
  width: 100%;
  max-width: 40rem;
  position: absolute;
  align-self: center;
  justify-self: center;
  flex: none;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: white;
  padding: 2rem;
  z-index: 100;
  transform: var(--transform);
  transition: var(--transition);
}

.modal__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 0;
  align-items: center;
}

.modal__close {
  align-self: start;
  border: none;
  padding: .5rem;
  top: 0;
  right: 0;
  border-radius: 3px;
  background-color: white;
  transition: all 300ms;
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.modal__close:hover {
  background-color: var(--light-secondary-color);
  cursor: pointer;
}

.modal__header h3 {
  font-family: var(--second-font);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .3px;
  color: var(--dark-secondary-color);
  margin: 0;
}

.view--modal {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .4s;
  --transform: translateX(0);
  --transition: transform .4s .8s;
}

.modal__actions {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
}

.modal__actions--modal-add-collaborator,
.modal__actions--modal-alert {
  align-self: flex-end;
}

.action__btn {
  border: none;
  border-radius: 3px;
  font-weight: 400;
  letter-spacing: .3px;
  transition: all .3s;
}

.modal__actions--modal-add-collaborator .action__btn,
.modal__actions--modal-alert .action__btn {
  align-self: flex-end;
  padding: 1rem 2rem;
  width: 10rem;
}

.action__btn--cancel {
  background-color: transparent;
  color: var(--dark-secondary-color);
}

.action__btn--cancel:hover {
  background-color: var(--light-secondary-color);
  cursor: pointer;
}

.action__btn--cancel:disabled {
  background-color: var(--light-secondary-color);
  cursor: initial;
}

.action__btn--add,
.action__btn--load {
  background-color: var(--primary-color);
  color: var(--white);
}

.action__btn--add:hover,
.action__btn--load:hover {
  background-color: var(--dark-primary-color);
  cursor: pointer;
}

.action__btn--add:disabled,
.action__btn--load:disabled {
  background-color: var(--light-primary-color);
  cursor: initial;
}

/** Contenedores y formularios **/
.container {
  width: 100%;
  position: absolute;
}

.container__form {
  flex: 1;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container__img {
  display: none;
}

shared-alert {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form,
.form--reset_password,
.form--forget_password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form form {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

::placeholder {
  color: var(--light-secondary-color)
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form__field,
.form__submit {
  width: 100%;
  height: max-content;
}

.form__field label {
  font-family: var(--second-font);
  font-size: 1.5rem;
  letter-spacing: .3px;
  color: var(--secondary-color);
}

.form__field input,
.form__submit input,
.form__field textarea,
.form__field select {
  width: 100%;
  height: 5rem;
  border-radius: 3px;
  font-family: var(--second-font);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .5px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 1rem 2rem;
}

.form__field textarea {
  resize: none;
  height: 10rem;
}

.form__field input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.9;
  filter: invert(0.9);
}

.form__field input:focus,
.form__field textarea:focus,
.form__field select:focus {
  border: none;
  outline: 1.5px solid var(--primary-color);
}

.form__submit input {
  border: none;
  outline: none;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  color: white;
  transition: all 500ms;
}

.form__submit input:hover {
  background-color: var(--dark-primary-color);
  cursor: pointer;
}

.form__submit input:active,
.form__field select:active {
  background-color: var(--light-primary-color);
}

.form__submit input:disabled {
  cursor: initial;
  background-color: var(--light-primary-color);
}

.form__field input:disabled,
.form__field textarea:disabled,
.form__field select:disabled {
  border: 1px solid var(--light-secondary-color);
  cursor: initial;
  pointer-events: none;
}

.form__field span {
  display: block;
  width: 100%;
  font-family: var(--second-font);
  text-align: start;
  color: #E94E42;
}

.form form > span,
.form > span {
  align-self: end;
  margin-bottom: 1rem;
  transition: all 500ms;
}


/** Pagina confimación de cuenta **/
.container__confirm-account {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.container__title {
  width: 100%;
  padding: 6rem 0;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

.container__title h1 {
  margin: 2.5rem 0;
}

.user__name {
  font-size: 2rem;
}

span a {
  color: var(--primary-color);
}

.container__title footer {
  margin-top: 3rem;
}

.container__title footer p {
  font-family: var(--main-font);
  font-size: 1.3rem;
  letter-spacing: .3px;
  color: var(--secondary-color);
}

hr {
  border: .1px solid var(--light-secondary-color);
}

/** ALertas para campos de formularios invalidos **/
.error__field input[type="text"],
.error__field input[type="email"],
.error__field input[type="password"],
.error__field textarea,
.error__field select {
  border: 1px solid var(--error-color)!important;
}

.error__field input[type="text"]:focus,
.error__field input[type="email"]:focus,
.error__field input[type="password"]:focus,
.error__field textarea:focus,
.error__field select:focus {
  outline: 1px solid var(--error-color)!important;
}

/** Tablas y pagina de listado de proyectos */

.table__container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  overflow: auto;
  /* overflow-x: auto;
  overflow-y: hidden; */
}

.table__list {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--second-font);
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.table__header tr th,
.info__row td {
  padding: .5rem;
  text-align: start;
  height: 5rem;
}

.info__row:hover {
  transition: all 300ms;
  background-color: rgba(225, 225, 225, .4);
}

.info__row td {
  min-width: 14rem;
  max-width: 12rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table__info {
  border-top: 2px solid var(--light-secondary-color);
  border-bottom: 2px solid var(--light-secondary-color);
}

.info__row--link {
  color: var(--primary-color);
}

.info__row--link a {
  color: var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 300ms;
}

.info__row--link a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--dark-primary-color);
}

.info__row--actions {
  min-width: 5rem!important;
  /* padding: 0!important; */
}

.info__row--actions button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}

.info__row--actions button:hover {
  cursor: pointer;
  background-color: var(--light-secondary-color);
  border-radius: 2px;
}

.list__empty {
  width: 100%;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list__empty img {
  width: 35rem;
}

.list__empty b {
  text-align: center;
  text-wrap: wrap;
  font-family: var(--second-font);
  font-size: 2rem;
  color: var(--secondary-color);
}

/** Encabezados de paginas de proyecto (dashboard) */
.project {
  width: calc(100% - var(--width-side-bar));
  height: calc(100vh - var(--height-nav-bar));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  position: relative;
  left: var(--width-side-bar);
  /* overflow-x: auto; */
}

.project__header {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/** Puntos de quiebre para diferentes dispositivos **/
@media(min-width: 600px) {

  /** Contenedores y formularios **/
    .container__form {
        width: 50%;
        min-width: 40rem;
    }


    /** Pagina Confimacion de Cuenta **/
    .container__confirm-account {
      width: 50%;
    }

}

@media(min-width: 768px) {

  .header {
    display: none;
}

.container__form {
    width: 50%;
    margin: 0;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .projects {
    padding: 2rem;
  }

  .projects__header {
    padding: 2rem 1rem;
  }

}

@media(min-width: 998px) {

  .container {
    height: max-content;
    min-height: 100%;
    flex-direction: row;
  }

    .form,
    .form--reset-password
    .form--forget-password,
    shared-alert {
        max-width: 40rem;
    }

    .container__img {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .container__img img {
        width: 90%;
        object-fit: contain;
    }

    .info__row--actions {
      min-width: 3.5rem!important;
    }
}

@media(min-width: 1200px) {

  .container__img img {
    width: 85%;
    object-fit: contain;
  }

  .info__row--actions {
    min-width: 3rem!important;
  }
}

@media(min-width: 1440px) {

    .form,
    .form--reset-password
    .form--forget-password,
    shared-alert {
        max-width: 45rem;
    }

    .container__img img {
      width: 80%;
      object-fit: contain;
  }
}

.view {
  display: none;
}
