
<div class="container">
  <div class="container__img">
      <!-- <img src="background.jpg" alt=""> -->
  </div>
  <div class="container__form">
      <div>
          <h1>Crear Cuenta</h1>
          <p>Registrate ahora y comienza a administrar tus proyectos de forma agil</p>
          <form action="">
              <input type="text" placeholder="Nombre">
              <input type="email" placeholder="Email">
              <input type="password" placeholder="Contraseña">
              <input type="password" placeholder="Repetir contraseña">
              <input type="submit" value="Registrar">
          </form>
          <span>Ya tienes una cuenta? <a href="#">Ingresa aquí</a></span>
      </div>
  </div>

</div>