<div class="container">

  <div class="container__form">

    <auth-alert *ngIf="message()"
                [message]="message"
                [statusRes]="statusRes">
    </auth-alert>

      <div class="form form--reset-password">

          <h1>Cambiar Contraseña</h1>

          <p>Llena el formulario para cambiar tu contraseña y acceder a tu cuenta</p>

          <form autocomplete="off"
                [formGroup]="resetPasswordForm"
                (ngSubmit)="changePassword()">

                <div class="form__field"
                    [ngClass]="{ 'error__field': isValidField('password'), 'valid__field': !isValidField('password')}">

                  <input type="password"
                  placeholder="Contraseña"
                  formControlName="password">

                  <span *ngIf="isValidField('password')">
                    {{ getFieldError('password') }}
                  </span>
                </div>

                <div class="form__field"
                    [ngClass]="{ 'error__field': isValidField('password2'), 'valid__field': !isValidField('password2') }">

                  <input type="password"
                        placeholder="Confirmar contraseña"
                        formControlName="password2">

                  <span *ngIf="isValidField('password2')">
                    {{ getFieldError('password2') }}
                  </span>
                </div>

            <div class="form__field">
              <input type="submit"
                    value="Enviar"
                    [disabled]="resetPasswordForm.invalid">
            </div>

          </form>

          <span><a routerLink="/auth/login">Regresar</a></span>

      </div>

  </div>
</div>
