.project__layout {
  width: 100%;
  height: 100%;
}

/*
shared-modal-add-collaborator {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  pointer-events: none;
  transition: display 4s 4s;
}

.view__modal {
  display: block;
  pointer-events: unset;
  transition: display 4s 6s;
} */